body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(252, 236, 216);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
}
.navBarButtons{
    display: flex;
    justify-content: space-between;
}
input{
    height: 25px;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.navBarButton {
    margin: 0 30px;
}
button{
    background-color: rgb(252, 236, 216);
    border: none;
}
.itemCards{
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    height: 370px;
    width: 300px;
    border-radius: 10px;
}
img{
    width: 150px;
    height: 150px;  
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: smaller;
    padding: 10px;
    margin-top: 50px;
}

.name {
    font-size: 15px;
}

.price {
    font-size: 20px;
    color: #555;
}
.addToCartBtn{
    background-color: rgb(161, 228, 175);
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}