body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    background-color: rgb(252, 236, 216);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
}
.navBarButtons{
    display: flex;
    margin-right: 10px;
   
}
input{
    height: 25px;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.navBarButton {
    margin: 0 5px;
}
button{
    background-color: rgb(252, 236, 216);
    border: none;
}
.itemCards{
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    height: 370px;
    width: 300px;
    border-radius: 10px;
}
img{
    width: 150px;
    height: 150px;  
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: smaller;
    padding: 10px;
    margin-top: 50px;
}

.name {
    font-size: 15px;
}

.price {
    font-size: 20px;
    color: #555;
}
.addToCartBtn{
    background-color: rgb(161, 228, 175);
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}
.white-background {
    background-color: white;
}
.cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    z-index: 10;
}
.shoppingCart{
    width: 60%;
    height: 90%;
    margin: 2rem auto;
    background-color: #eee;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}
.shoppingCart .cartHeader{
    display: flex;
    background-color: #ccc;
    padding: 10px 20px;
    justify-content: space-between;
}
.close-btn{
    height: 2em;
    border-radius: 10px;
    background-color: rgb(116, 112, 112);
}
.emptyText{
    display: block;
    padding: 2rem;
    margin: auto;
}
.cartItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    overflow-y: scroll;
}
.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #eee
}
.itemInfo {
    flex-basis: 50%;
}
.itemInfo h3{
    font-size: smaller;
    color: #555;
}
.cartItem select{
    width: 70px;
    font-size: 1rem;
    outline: none;
}
.removeBtn{
    border-radius: 10px;
    height: 20px;
    background-color: rgb(154, 155, 145);
}
.checkoutBtn{
    padding: 10px 20px;
    font-size: 1rem;
    color: #131212;
    background-color: rgb(185, 211, 211);
    border-radius: 10px;
    align-self: center;
    margin: 2rem 1rem;
}
.cartTotal{
    align-self: flex-end;
    margin: 20px 50px;
}
.totalLabel{
    font-size: 1em;
}
.totalAmount{
    color: rgb(202, 13, 92,0.9);
    font-size: 20px;
    font-weight: bolder;
}
.itemCount{
    display: inline;
    border-radius: 50%;
    background-color: #f35e5e;
    color: #ffff;
    padding: 5px;
}
.navBarButton:active{
    border-bottom: 200px #131212;
}